:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #212529;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #007BFF;
  text-decoration: inherit;
}
a:hover {
  color: #0056b3;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f8f9fa;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  color: #007BFF;
}

.btn-primary {
    background-color: #007BFF;
    border-color: #007BFF;
}

.btn-primary:hover {
    background-color: #409CFF;
    border-color: #409CFF;
}

.btn-info {
    background-color: #17A2B8;
    border-color: #17A2B8;
}

.btn-info:hover {
    background-color: #3FD2E8;
    border-color: #3FD2E8;
}

.btn-outline-primary {
    color: #007BFF;
    border-color: #007BFF;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #007BFF;
    border-color: #007BFF;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #409CFF;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
  background-color: #e9ecef;
  image-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
    .card {
      background-color: #f9f9f9;
      border: 1px solid #dee2e6;
    }
  }
  
  .bg-main-content {
    background-color: #f8f9fa;
    color: #212529;
  }
  
  .custom-bg {
    background-image: url('./assets/images/bg.png');
    background-size: cover;
  }
  